h1 {
  font-family: serif;
  font-size: xx-large;
  color: white;
  text-align: center;
}

h2 {
  font-family: serif;
  font-size: large;
  color: #ffffff;
  text-align: center;
}

body {
  width: 95%;
  margin: 0 auto;
  background-color: #1b293d;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(255, 244, 210);
}
p {
  color: #F0E9C7;
  text-align: center;
}

li {
  font-size: large;
  color: white;
}
